<a href="https://colab.research.google.com/github/Gangaithiri241991/Gangaithiri241991/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import  numpy as np   #all changed to float
a=np.array([1,3,5,6])
print(a.dtype)
print(a)

int64
[1 3 5 6]

string is more powerfull than float and int
2 float is power than int
so output convert based on powerfull

In [21]:
a=np.array(1)
print(a)
print(a.ndim)
print(a.shape)

1
0
()

In [22]:
a=np.eye(2,3)#identity matrix
print(a)

[[1. 0. 0.]
 [0. 1. 0.]]

In [23]:
a=np.eye(3,3)#identity matrix
print(a)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [24]:
a=np.eye(3,4)#identity matrix
print(a)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]]

In [25]:
a=np.eye(5,4)#identity matrix
print(a)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 0.]]

In [28]:
a=np.identity(3)#identity matrix
print(a)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [29]:
a=np.identity(2)#identity matrix
print(a)

[[1. 0.]
 [0. 1.]]

In [30]:
a=np.identity(5)#identity matrix
print(a)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [31]:
a=np.identity(4)#identity matrix
print(a)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

. Create a numpy array with shape 2x5 that has all the elements as zero.

In [35]:
a=np.zeros((2,5))
print(a)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

Create a numpy array with shape 2x5 that has all the elements as 5.

In [36]:
a=np.full((3,5),5)
print(a)

[[5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]]

Create a numpy array with random integers in the range 0-100, and the sample size
should be 25

In [39]:
z=np.random.randint(0,100, size=25)
print(z)

[63 37 28 60 68 25 44 74 32 82 77  1 50 25 93 88 72 43 52  6 90 89 26  4
 86]

In [40]:
a = np.full((2,5),0,dtype=int)
b = np.full((3,5),5,dtype=int)
print(a,b,sep='\n\n')

[[0 0 0 0 0]
 [0 0 0 0 0]]

[[5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]]

 Create a numpy array with a shape 3x3 that has all elements as 1.

 Create a numpy array in the shape 2x3 with random integers in the range 0-100

In [50]:
a=np.random.randint(0,100,size=(2,3))

print(a)

[[43 79 53]
 [82 61  6]]

In [51]:
x=np.full((3,3),1)
print(x)
B=np.random.randint(0,100)
A=np.full((2,3),B)
print(A)

[[1 1 1]
 [1 1 1]
 [1 1 1]]
[[39 39 39]
 [39 39 39]]

In [52]:
x=np.ones((3,3))
print(x)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [45]:
a=np.full((3,3),1)
print(a)

[[1 1 1]
 [1 1 1]
 [1 1 1]]

Create numpy arrays that have zero, one, two, three dimensions respectively.
Also, print the shape and dimensions of the numpy arrays created above

In [10]:
a=np.array([1,2,3])
print(a)
print(a.ndim)

[1 2 3]
1

In [12]:
a=np.array([[1,2,3],[3,4,5]])
print(a)
print(a.ndim)
print(a.shape)

[[1 2 3]
 [3 4 5]]
2
(2, 3)

In [17]:
a=np.array([[[[1,2,3],[3,4,5],[2,8,9],[7,8,9]]]])
print(a)
print(a.ndim)
print(a.shape)

[[[[1 2 3]
   [3 4 5]
   [2 8 9]
   [7 8 9]]]]
4
(1, 1, 4, 3)

In [16]:
a=np.array([[[1,2,3],[3,4,5]]])

print(a)
print(b)
print(a.ndim)
print(a.shape)

[[[1 2 3]
  [3 4 5]]]
[[3 4 5]
 [1 3 5]]
3
(1, 2, 3)

In [7]:
a=np.array([1,3,5,6,7.8,"apple"])# all changed to string in output
print(a)
print(a.dtype)
print(a.shape)

['1' '3' '5' '6' '7.8' 'apple']
<U32

In [3]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

. Create a random array, with the range 0-1000, with a size 50 and step 2. Perform the
following operations on the same.
a. Print the first ten elements of the array.
b. Print the last ten elements of the array
c. Print the elements from the indexes 10-25
d. Print the element at the index 22
e. Print the array using negative indexing.
f. Print the last ten elements of the array, using negative indexing

In [53]:
a=np.random.randint(0,1000,size=(50))
print(a)

[166 122 816 103 100 798 287 841 472 264 558  85  61 518 627 816 667 931
 691 799 110 245 963 322 338 529 997 714 826 862 184 166 585   3  48  38
 994 990 930 726 309 781 144 813 853 345 339 509 318 660]

In [55]:
a=np.random.randint(0,1000,size=(50))

print(a[22])

735

In [57]:
a=np.random.randint(0,1000,size=(50))
print(a[-1])

984

In [60]:
a = np.random.choice(np.arange(0,1001,2),size=50,replace=False)
print(f"Original dataset:\n{a}")
print(f"First ten elements of dataset:\n{a[0:10:1]}")
print(f"Elements in index (10,25) of dataset:\n{a[10:25:1]}")
print(f"Element at index (22) of dataset:\n{a[22]}")
print(f"Dataset via negative indexing:\n{a[::-1]}")
print(f"Last ten elements of dataset:\n{a[-10:]}")
print(f"Length of dataset:\n{len(a)}")

Original dataset:
[580 320 220 730  56 868 378 900 444  36 136  44 540 440 926 274  32 210
 788 866 374 304  70 758 682  84 494 846 740 196 800 504 530 228 160 666
 148 454 634 370 808 426 162 894 930 340 318 956  30 814]
First ten elements of dataset:
[580 320 220 730  56 868 378 900 444  36]
Elements in index (10,25) of dataset:
[136  44 540 440 926 274  32 210 788 866 374 304  70 758 682]
Element at index (22) of dataset:
70
Dataset via negative indexing:
[814  30 956 318 340 930 894 162 426 808 370 634 454 148 666 160 228 530
 504 800 196 740 846 494  84 682 758  70 304 374 866 788 210  32 274 926
 440 540  44 136  36 444 900 378 868  56 730 220 320 580]
Last ten elements of dataset:
[808 426 162 894 930 340 318 956  30 814]
Length of dataset:
50

Given a numpy array that has values = [1,2,3,4,5]. Perform the following operations.
a. Insert the element 6 at the end of the array.
b. Insert the element 10 at the beginning of the array.
c. Insert the element 30, before 4.
d. Update the element 5 as 50.
e. Delete the element 50 in the updated array.
f. Create a function to search for the element 30.
g. Sort the array in ascending order.

In [65]:
a=np.array([1,2,3,4,5])
a.sort()
print(a)

[1 2 3 4 5]

In [71]:
original = np.array([1,2,3,4,5])
print(f"Original Array:\n {original}")
#insert 6 at the end
original = np.append(original,[6])
print(f"Array After Appending '6':\n{original}")
#insert 10 at start
original = np.insert(original,0,10)
print(f"Array After Inserting '10' At Start:\n{original}")
original = np.insert(original,4,30)
print(f"Array After Inserting '30' Before '4':\n{original}")
original[6] = 50
print(f"Array After Updating '5' as '50':\n{original}")
original = np.delete(original, 6)
print(f"Array After Deleting '50':\n{original}")
def search_for_fifty(array):
  flag = False
  for i in array:
    if i == 50:
      flag = True
  if flag == True:
    print("50 found in array")
  else:
    print("50 not found in array")
search_for_fifty(original)
original.sort()
original = original[::-1]
print(original)

Original Array:
 [1 2 3 4 5]
Array After Appending '6':
[1 2 3 4 5 6]
Array After Inserting '10' At Start:
[10  1  2  3  4  5  6]
Array After Inserting '30' Before '4':
[10  1  2  3 30  4  5  6]
Array After Updating '5' as '50':
[10  1  2  3 30  4 50  6]
Array After Deleting '50':
[10  1  2  3 30  4  6]
50 not found in array
[30 10  6  4  3  2  1]

In [73]:
arr = np.array([1, 2, 3, 4, 5])
arr = np.append(arr, 6)
print("Array after inserting 6 at the end:", arr)
arr = np.insert(arr, 0, 10)
print("Array after inserting 10 at the beginning:", arr)
index_4 = np.where(arr == 4)[0][0]
arr = np.insert(arr, index_4, 30)
print("Array after inserting 30 before 4:", arr)
arr[np.where(arr == 5)[0][0]] = 50
print("Array after updating 5 to 50:", arr)
arr = arr[arr != 50]
print("Array after deleting 50:", arr)
arr_sorted = np.sort(arr)
print("Array sorted in ascending order:", arr_sorted)
def search_element(arr, value):
    index = np.where(arr == value)
    if index[0].size > 0:
        return f"Element {value} found at index {index[0][0]}"
    else:
        return f"Element {value} not found"
print("\nSearch for element 30:")
print(search_element(arr, 30))

Array after inserting 6 at the end: [1 2 3 4 5 6]
Array after inserting 10 at the beginning: [10  1  2  3  4  5  6]
Array after inserting 30 before 4: [10  1  2  3 30  4  5  6]
Array after updating 5 to 50: [10  1  2  3 30  4 50  6]
Array after deleting 50: [10  1  2  3 30  4  6]
Array sorted in ascending order: [ 1  2  3  4  6 10 30]

Search for element 30:
Element 30 found at index 4